:root {
  --color-background: #333340;
  --color-shadow: #43434e;
  --color-cyan: rgb(48, 167, 210);
  --color-pink: rgb(240, 83, 98);
  --color-white: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-white);
}

.header,
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  padding: 100px;
}

h1 {
  font-size: 30px;
  color: var(--color-pink);
}

h2 {
  font-size: 20px;
}

table.gameboard {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  border: 0;
}

td {
  width: 100px;
  height: 100px;
  border: 0;
  font-family: sans-serif;
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-size: 50px;
}

#c1,
#c4,
#c7 {
  border-left: 5px solid var(--color-white);
  border-right: 5px solid var(--color-white);
}

#c3,
#c4,
#c5 {
  border-top: 5px solid var(--color-white);
  border-bottom: 5px solid var(--color-white);
}

.modal_container {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5 ease;
}

.modal {
  text-align: center;
  background-color: #edeef6;
  color: black;
  width: 100vw;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 16px;
  margin: 20px;
  position: fixed;
  bottom: 0;
  padding: 1.5rem 4rem 1rem 2rem;
}

a {
  text-decoration: none;
  color: var(--color-cyan);
}

button {
  background-color: var(--color-cyan);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 600;
  box-shadow: 0px 10px 10px -10px var(--color-shadow);
}

button:hover {
  cursor: pointer;
}

.X {
  color: var(--color-pink);
}

.O {
  color: var(--color-cyan);
}
